[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/jevinskie/benchmark
[submodule "3rdparty/nanobench"]
	path = 3rdparty/nanobench
	url = https://github.com/martinus/nanobench
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/subprocess.h"]
	path = 3rdparty/subprocess.h
	url = https://github.com/sheredom/subprocess.h
